<footer class="footer">
<nav class="text-center">
  <small>
    Calculadora financeira,<a href="http://www.investtools.com.br/"> Investtools</a>
    by <a href="https://github.com/thiswayq">Nicole Barbosa</a>
  </small>
</nav>
</footer>